{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{vich_uploader_asset(property,'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width:100%;height: auto;">
                    {% else %}
                        <img src="{{'/images/properties/julien.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width:100%;height: auto;">
                    {% endif %}

                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold;">{{ property.formattedPrice }} €</div>
                    <a href="#" class="btn btn-primary">Contacter le fraté</a>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <p>
               {#}{ property.createdAt | nl2br }#}
            </p>

            <div class="row">
                <div class="col-md-8">
                    <h2>Caractéristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Intitulé</td>
                            <td>{{ property.title }}</td>
                        </tr>
                        <tr>
                            <td>Localisation</td>
                            <td>{{ property.city }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ property.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Spécificité</h2>
                    <ul class="list-group">
                        <li class="list-group-item">{{ property.category.name }}</li>
                        <li class="list-group-item">{{ property.subcategory.name }}</li>
                    </ul>
                </div>
            </div>


        </div>



{% endblock %}