
{% extends 'base.html.twig' %}

{% block title 'Update' %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        {{ form_end(form) }}

    </div>
{% endblock %}